.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.logout-button:hover {
  color: #ccc;
}
